* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 2px solid red;
  }
  
  .menu-container {
    color: #fff;
    background-color: #5995DA;  /* Blue */
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
  }
  
  .menu {
    border: 1px solid #fff;  /* For debugging */
    width: 900px;
    display: flex;
    justify-content: inherit;
  }

  .date {

    margin-right: auto;

  }

  .signup {

    margin-left: auto; /* removes the need for extra div like bottom code */

  }

  /*.links {

    border: 2px solid black;
    display: flex;
    justify-content: flex-end;

  }
  */

  .header-container {

    color: #5995DA;
    background-color: #d6E9Fe;
    display: flex; /* property should be set to flex to indicate flex container */
    justify-content: center; /* centers items in flex container */

  }

  .header {

    width: 900px;
    height: 300px;
    display: inherit;
    justify-content: space-between; /* will space items as far as possible to opposite ends */
    align-items: center;

  }

  .photo-container {

    display: flex;
    justify-content: center; /* horizontal alignment */
    /* align-items: ;  vertical alignment for rows */

  }

  .photos {

    width: 900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* depending on flex direction, column refers to align for horzontal */
    /* row refers to justify content for horizontal alignment */

  }

  .photo-grid-item {

    border: 2px solid black;
    width: 300px;
    height: 300px;

  }

  .first-item {

    order: 1;

  }

  .last-item {

    order: -1;

  }

  .social,
  .subscribe {

    align-self: flex-end;
    margin-bottom: 20px;

  }

  .footer {

    display: flex;
    justify-content: space-between; /* horizontal alignment */

  }

  .footer-item {

    border: 1px solid red;
    background-color: #D6E9FE;
    height: 200px;
    flex: 1;

  }

  .footer-three {

    flex: 2;

  }

  .footer-one,
  .footer-three {

    flex: initial;
    width: 300px;

  }

  /*

    Use display: flex; to create a flex container.
    Use justify-content to define the horizontal alignment of items.
    Use align-items to define the vertical alignment of items.
    Use flex-direction if you need columns instead of rows.
    Use the row-reverse or column-reverse values to flip item order.
    Use order to customize the order of individual elements.
    Use align-self to vertically align individual items.
    Use flex to create flexible boxes that can stretch and shrink.

*/